/* This is the header code */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(19, 35, 52);
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: height 0.3s ease, background-color 0.3s ease;
    justify-content: space-between;
}

#main-header h1 {
    margin: 0;
    font-size: 28px;
    font-family: sans-serif;
    padding-left: 100px;
    color: #eee;
}


#main-header.shrink {
    height: 50px;
    background-color: rgb(16, 16, 16);
}

.btn-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #123455;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
}
  
.btn-toggle:hover {
    background-color: #0c8bb2;
}
  
.btn-toggle:active {
    transform: scale(0.9);
}

a {
    text-decoration: none;
}

/* Here lies the Header code */

@media (prefers-color-scheme: dark) {
    
body.light-theme {
    --text-color: #222;
    --bkg-color: #45789b;
}
}
body {
    --text-color: #000000;
    --bkg-color: #ffffff;
    margin: 0;
    padding-top: 80px;
    font-family: sans-serif;
    background-color: var(--bkg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #0b1217;
}

html {
    scroll-behavior: smooth;
}

/* This is the naviTAB code */

.navi {
    position: fixed; 
    top: 90px;        
    left: 20px;      
    width: 175px;    
    background-color: rgba(26, 26, 26, 0.544);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navi h1 {
    font-family: sans-serif;
    font-size: 28px;
    color: #fff;
}

.navi a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    transition: all 0.3s;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.navi a:hover {
    background-color: rgb(45, 58, 93);
    border-radius: 5px;
    transition: all 0.2s;
    scale: 1.2;
}

.navi a:active {
    scale: 0.8;
    background-color: #0c8bb2;
}



/* Here ends the naviTAB code */ 

@font-face {
    font-family: 'SE';
    src: url('Fonts/trireme.ttf') format('truetype'); 
    font-weight: lighter;
    font-style: oblique;
}

.content {
    margin-left: 250px; /* Push main content to the right */
    padding: 20px;
    max-width: 1300px ;
    text-align: center;
}

.content img {
    max-width: 500px;
    border-radius: 17px;
    margin-bottom: 30px;
    transition: all 0.4s;
}

.content img:hover {
    border-radius: 10px;
    transition: all 0.4s;
    scale: 1.1;
}

div.subcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 40px; 
}

div.subcontent img {
    max-width: 40%; 
    height: auto;
    border-radius: 8px; 
}

div.subcontent .text-block {
    max-width: 50%;
    text-align: left;
}

div.subcontent.reverse {
    flex-direction: row-reverse;
}